
/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

.active {
  color: white;
  background-color: chocolate;
  border: 1px solid blueviolet;
}
