<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/']">Home</a>

        <a class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/test">Test</a>

        <a class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/users">Users</a>

        <a class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/products">Products</a>

        <a class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/observables">Observables</a>
    </div>
</nav>
